[Desktop Entry]
Type=Application
Name=Relvi
Comment=Search and launch applications
Exec=relvi
TryExec=relvi
Icon=dev.so1ve.Relvi
Terminal=false
Categories=Utility;
StartupNotify=false
